<div class="indexProduct">
  <div class="container">
    <div class="row featuredCollection margin-bottom">
      <div class="col-xs-12">
        <br />
          
          <h4><%= link_to 'Add Product', new_product_path %></h4>
            <% @products.each do |product| %>
  
    Name: <%= product.name %><br />
    Category: <%= product.category %><br />
    Price: <%= product.price %><br />
    Description: <%= product.description %><br />
    Ingredients: <%= product.ingredient %><br />
    | <%= link_to 'Edit', edit_product_path(product) %>
    | <%= link_to 'Delete', product, method: :delete %>|<br />
    <br />
    
  
            <% end %>
          </p>
          <%= link_to "Back", :back %>
  
      </div>
    </div>
  </div>
</div>